
.appbar {
  top:0;
  position:sticky;
  height: 10vh;
  background: var(--color-primary);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.appbar--hidden {
  transform: translateY(-100%);
}

.appbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-lg) !important;
  margin-bottom: var(--spacing-lg) !important;
}

.appbar__nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 0 auto;
}

.appbar__link {
  font-family: var(--font-body);
  text-transform: lowercase;
  color: var(--color-secondary) !important;
  letter-spacing: var(--tracking-wider) !important;
  font-weight: var(--font-regular) !important;
}

.appbar__link.active {
  opacity: 0.6;
}


.appbar__brand {
  font-family: var(--font-brand);
  font-size: var(--text-brand) !important;
  color: var(--color-secondary) !important;
  border-radius: var(--radius-button) !important;
}

