.home-carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home-carousel .carousel {
  position: relative;
  z-index: 1;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Gradient overlay + CONTENT CONTAINER */
.carousel-gradient {
  position: absolute;
  inset: 0;
  z-index: 2;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  pointer-events: auto;
  background: linear-gradient(
    180deg,
    rgba(20, 65, 89, 1) 12%,
    rgba(20, 65, 89, 0.9) 25vh,
    rgba(20, 65, 89, 0.7) 50vh,
    rgba(20, 65, 89, 0.4) 80vh,
    rgba(20, 65, 89, 0.3) 100%
  );
}

.gradient-text {
  width:70% !important;
  color: white;
  z-index: 2;
  font-size: var(--text-tagline);
  font-family: var(--font-brand) !important;
  font-weight: 100 !important;
  letter-spacing: 0.08em;
  margin-bottom: 1.0rem;
}

.bold-tagline{
  font-weight: 800 !important;
  font-size: var(--text-bold-brand) !important;
}

.gradient-subtext{
  font-size: var(--text-second-tagline) !important;
  font-family: var(--font-tagline) !important;
  font-weight: 100 !important;
  margin-bottom: 4rem;
}

/* Button */
.gradient-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.75rem 2.5rem;
  border-radius: var(--radius-lg);
  font-weight: 400;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.gradient-button:hover {
  font-family: var(--font-body) !important;
  background: white;
  color: #144159;
}
