.carousel-container{
  width:100vw !important;
  height:100vh !important;
}

.home-carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home-carousel .carousel {
  position: relative;
  z-index: 1;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Gradient overlay + CONTENT CONTAINER */
.carousel-gradient {
  position: absolute;
  inset: 0;
  z-index: 2;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  pointer-events: auto;
  background: var(--background-gradient) !important;
}

.gradient-text {
  width:70% !important;
  color: white;
  z-index: 2;
  font-size: var(--text-tagline);
  font-family: var(--font-brand) !important;
  font-weight: 100 !important;
  letter-spacing: 0.08em;
  margin-bottom: 1.0rem;
}

.bold-tagline{
  font-weight: 800 !important;
  font-size: var(--text-bold-brand) !important;
}

.gradient-subtext{
  font-size: var(--text-second-tagline) !important;
  font-family: var(--font-tagline) !important;
  font-weight: 100 !important;
  margin-bottom: 4rem;
}

/* Button */
.gradient-button-schedule {
  font-family: var(--font-body) !important;
  color: var(--color-secondary) !important;
  background: rgb(103, 112, 119, 0.8) !important;
  border: 1px solid white !important;
  padding: 0.75rem 2.5rem !important;
  border-radius: var(--radius-lg) !important;
  font-weight: 400 !important;
  font-size: var(--text-md) !important;
  letter-spacing: 0.08em !important;
  margin-right: 0.8em !important;
  transition: all 0.25s ease !important;
}

.gradient-button-schedule svg {
  margin-right: 0.8em !important;
}

.gradient-button-schedule:hover {
  font-family: var(--font-body) !important;
  background: white !important;
  color: var(--color-primary) !important; 
  font-weight: 800 !important;
  font-size: var(--text-lg) !important;
}

.gradient-button-call {
  background: transparent !important;
  border: 1px solid white !important;
  color: var(--color-secondary) !important;
  padding: 0.75rem 2.5rem !important;
  border-radius: var(--radius-lg) !important;
  font-weight: 400 !important;
  letter-spacing: 0.08em !important;
  font-family: var(--font-body) !important;
  transition: all 0.25s ease !important;
}

.gradient-button-call svg {
  margin-right: 0.8em !important;
}

.gradient-button-call:hover {
  font-family: var(--font-body) !important;
  background: white !important;
  color: var(--color-primary) !important; 
  font-weight: 800 !important;
  font-size: var(--text-lg) !important;
}
