.about-parent-container{
    margin: 0 !important;
    padding: 0 !important;
    color: var(--color-secondary) !important;
    font-family: var(--font-body) !important;
    align-items: center !important;
    text-align: center !important ;
}

.choose-us-container{
    background-color: var(--color-lightergray) !important;
    color: var(--color-primary) !important;
    padding: 2rem !important;
    text-align: center !important ;
    align-items: center !important;
}

.choose-us-column{
    text-align: center !important ;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;
}

.choose-us-heading{
    font-family: var(--font-body) !important;
    font-weight: 500 !important;
    letter-spacing: 0.4rem !important;
    font-size: var(--text-brand) !important;
    margin-top: 0rem !important;
    margin-bottom: 2rem !important;
    font-variant: small-caps !important ;
}

.choose-us-firstline{
    font-family: var(--font-body) !important;
    font-weight: 600 !important;
    font-size: var(--text-2xl) !important;
    letter-spacing: 0.1rem ;
    margin-bottom: 2.5rem !important;
}

.choose-us-secondline{
    font-family: var(--font-body) !important;
    font-weight: 600 !important;
    font-size: var(--text-md) !important;
}

.choose-cards{
    padding:1rem !important;
    margin-bottom: 1rem !important;
}

.choose-text{
    padding:2rem !important;
}

.about-us-container{
    background-color: var(--color-gray);
    color:var(--color-secondary) !important;
    padding-top: 2rem !important; 
    padding-bottom: 0.1 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important ;
    text-align: center !important ;
    align-items: center !important;
}

.mission_img{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
    padding:2.5rem !important;
}

.about-heading{
    font-family: var(--font-body) !important;
    font-weight: 500 !important;
    letter-spacing: 0.4rem !important;
    font-size: var(--text-brand) !important;
    margin-top: 2.5rem !important;
    margin-bottom: 2rem !important;
    font-variant: small-caps !important ;
}

.about-content{
    font-family: var(--font-body) !important;
    font-weight: 500 !important;
    font-size: var(--text-md) !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    padding-bottom: 2rem !important;
    padding-top:1rem !important
}

.about_quote{
    font-family: var(--font-brand) !important;
    font-size: var(--text-3xl) !important;
    letter-spacing: 0.1rem !important;
    font-weight: 500 !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
     

@media (max-width: 768px){

    .about-heading{
        margin-top: 1rem !important;
    }
}

@media (max-width: 576px) {

    .mission_img{
        padding: 1rem !important;
    }

    .about-heading{
        margin-top: 1rem !important;
    }

}