.contact-container{
  min-height: 90vh !important;
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  font-family: var(--font-body) !important;
  letter-spacing: 0.05rem !important;
  padding: 2rem !important;
  align-content: center !important;
  text-align: center !important;
}

.contact-details-container{
  height: 100% !important;
  width: 100% !important;
  align-content: center !important;
  align-items: center !important;
  padding: 2rem !important;
  background-color: var(--color-mediumgray) !important;
  border-radius: 2rem !important;
}

.contact-details-row{
  margin: 1.25rem !important;
}

.contact-details-col{
  padding-left: 1rem !important;
}

.contact-details-container h1{
  font-family: var(--font-brand) !important;
  margin-bottom: 2rem !important;
  font-size: var(--text-tagline) !important;
}

.contact-details-container h5 {
  text-align: left !important;
  text-transform: uppercase !important;
  font-size: medium !important;
  font-weight: 600 !important;
  letter-spacing: 0.2rem !important;
}

.contact-details-container h6 {
  text-align: left !important;
  font-weight: 300 !important;
}

.icon-socials{
  margin:0.5rem !important;
  color: var(--color-lightergray) !important;
}

.icon-socials:hover{
  transition: all 0.2s ease !important;
  color: var(--color-secondary) !important;
}

.social-button{
  background-color: transparent !important;
  margin: 0.2rem !important;
  border: none !important;
  padding: 0 !important;
}

.icon-details{
  background-color: var(--color-gray) !important;
  color:var(--color-secondary) !important;
  height: 4rem !important;
  width: 4rem !important;
  padding: 1rem !important;
  border-radius: 1rem !important;
}

.map-container {
  padding:2rem !important;
  width: 100% !important;
}  

.hours-container{
  padding: 2rem !important;
  background-color: var(--color-lightgray);
  border-radius: 2rem !important;
}

.hours-card{
  border: none !important;
  font-family: var(--font-body) !important;
  background-color: transparent !important;
}

.hours-card h1{
  font-family: var(--font-brand) !important;
  color: var(--color-primary) !important;
  font-size: var(--text-tagline) !important;
  font-weight: 600 !important;
}

.hours-table {
  border-collapse: separate !important; 
  border-spacing: 0 8px !important; 
  margin: 0 !important;
}

.hours-table tr:hover{
  background-color: var(--color-primary) !important;
}

.hours-table td:first-child, th:first-child {
  border-radius: 50px 0 0 50px; /* top-left, top-right, bottom-right, bottom-left */
}

.hours-table td:last-child, th:last-child {
  border-radius: 0 50px 50px 0;
}

.hours-table td{
  background-color: transparent !important;
  border: none !important;
}

.saturday-hours-row {
  background-color: var(--color-accent-light) !important;
}

.saturday-hours-row td{
  color: var(--color-secondary) !important;
  font-weight: 500 !important;
}

.sunday-hours-row {
  background-color: var(--color-primary-lighter) !important;
  color: var(--color-secondary) !important;
}

.weekday-hours-row {
  background-color: var(--color-primary-light) !important;
  color: var(--color-secondary) !important;
}

.sunday-hours-row td{
   color: var(--color-secondary) !important;
   font-weight: 500 !important;
}

.weekday-hours-row td{
   color: var(--color-secondary) !important;
   font-weight: 500 !important;
}

.contact-form-container{
  background-color: var(--color-lightergray) !important;
  color: var(--color-primary) !important;
  margin-top: 2rem !important;
  border-radius: 2rem !important;
  width: 100% !important;
  align-content: center !important;
  align-items: center !important;
  padding: 2rem !important;
  border-radius: 2rem !important;
}

.contact-form-container h1{
  font-family: var(--font-brand) !important;
  color: var(--color-primary) !important;
  font-size: var(--text-tagline) !important;
  font-weight: 600 !important;
  margin-bottom: 1rem !important;
}

.contact-form-container h6{
  margin-bottom: 2rem !important;
  font-size: var(--text-md) !important;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
  font-weight: 500 !important;
}

.contact-form-control{
  background-color: transparent !important;
  color: var(--color-primary) !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  border: 2px solid var(--color-primary-lighter) !important;
  border-radius: 1.5rem !important;
}

.contact-form-control:focus{
  border-color: var(--color-primary) !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.contact-textarea-form-control{
  background-color: transparent !important;
  color: var(--color-primary) !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  border: 2px solid var(--color-primary-lighter) !important;
  border-radius: 1.5rem !important;
}

.contact-textarea-form-control:focus{
  border-color: var(--color-primary) !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.contact-textarea-form-control::placeholder{
  color: var(--color-primary-placeholder) !important;
  letter-spacing: 0.06rem !important;
}

.contact-form-submit{
  border-color: var(--color-primary) !important;
  border-radius: 2.5rem !important;
  background-color: var(--color-primary) !important;
  letter-spacing: 0.3rem !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: 0.5rem !important;
  width:100% !important;
}

.icon-row{
 padding-right: 1.5rem !important;
}

@media (max-width: 576px) {

  .contact-details-container h1{
    margin-bottom: 2rem !important;
    font-size: x-large !important;
  }

  .contact-details-row{
    margin: 0.75rem !important;
  }

  .contact-details-container h5 {
    font-size: xx-small !important;
  }

  .contact-details-container h6 {
    font-size: xx-small !important;
  }

  .map-container{
    padding:1rem !important;
  }

  .icon-socials{
    height: 1.5rem !important;
    width: 1.5rem !important;
    margin:0.4rem !important;
  }

  .icon-details{
    height: 2.4rem !important;
    width: 2.4rem !important;
    padding: 0.5rem !important;
    border-radius: 0.5rem !important;
  }

  .hours-card .card-body{
    padding: 0 !important;
  }

  .hours-card h1{
    font-size: x-large !important;
  }

  .hours-table{
    font-size: x-small !important;
  }

  .contact-form-container h1{
    font-size: x-large !important;
  }

  .contact-form-container h6 {
    font-size: x-small !important;
  }

  .contact-form-control{
    font-size: small !important ;
    line-height: 1.5 !important;
  }

  .contact-floating-label{
    font-size: small !important ;
  }

  .contact-form-submit{
    font-size: small !important ;
  }

}

