.contact-container {
  height: 100% !important;
  width: 100% !important;
  align-content: center;
  justify-content: center;
  background: var(--background-gradient) !important;
  background-color:var(--color-gray) !important;
  color: var(--color-secondary) !important;
}

.contact-info{
  align-content: center !important;
  justify-content: center !important;
  height: 100% !important;
  width: 100% !important;
}

.contact-map{
  align-content: center !important;
  justify-content: center !important;
  height: 100% !important;
  width: 100% !important;
}

.contact-info h2 {
  font-size: var(--text-brand) !important;
  font-family: var(--font-brand) !important;
  margin-bottom: 0.8em !important;
}

.icon-contact{
  color: var(--color-accent) !important;
  margin: 0.8em !important;
  margin-right: 0.9em !important;
}

.icon-socials{
  
}

.contact-details p {
  margin: 5px 0;
  font-size: 1rem;
}

.contact-hours {
  margin-top: 20px;
}

.contact-hours h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.contact-hours ul {
  list-style: none;
  padding: 0;
}

.contact-hours li {
  margin-bottom: 5px;
}

.contact-socials {
  margin-top: 20px;
}

.contact-socials h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.social-links a {
  margin-right: 15px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0056b3;
}
