.gifcard{
    border: none !important;
    background-color: transparent !important;
    color: var(--color-secondary) !important;
    align-items: center !important;
    border-radius: 0 !important;
    margin: 0.5rem !important;
}

.gifcard_img_container{
    background-color: var(--color-primary) !important;
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 50% !important;
    align-items: center !important;
    border: none !important;
}

.gifcard_img {
    padding: 1.5rem !important;
    object-fit: contain !important;
    color: var(--color-secondary) !important;
    fill: var(--color-secondary) !important;
}

.gifcard_text{
   color: var(--color-primary) !important;
   font-family: var(--font-body) !important;
   text-transform: uppercase !important;
   letter-spacing: 0.1rem !important;
   font-size: small !important;
   font-weight: 700 !important;
}

@media (max-width: 768px){
    .gifcard_text{
        padding:1rem !important;
        font-size: small !important;
    }
}

@media (max-width: 576px) {

    .gifcard_text{
        padding:1rem !important;
        font-size: small !important;
    }

}