
:root {
  /* Colors */
  --color-primary: #144159;
  --color-secondary: #ffffff;
  --color-accent: #e63946;
  --color-gray: #677077;

  /* Fonts */
  --font-brand: "Poiret One", cursive;
  --font-body: "Raleway", sans-serif;
  --font-tagline: "Cormorant Garamond", serif;

  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

    /* Font sizes */
  --text-xs: 0.75rem;    /* 12px */
  --text-sm: 0.875rem;   /* 14px */
  --text-base: 1rem;     /* 16px */
  --text-lg: 1.125rem;   /* 18px */
  --text-xl: 1.25rem;    /* 20px */
  --text-2xl: 1.5rem;    /* 24px */
  --text-3xl: 1.875rem;  /* 30px */
  --text-4xl: 2.25rem;   /* 36px */
  --text-tagline: 4.5rem;
  --text-brand: 3.0rem;
  --text-second-tagline: 1.5rem;
  --text-bold-brand: 4.8rem; 

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 4rem;

  /* Border radius */
  --radius-md: 8px;
  --radius-lg: 100px;

  --tracking-tight: -0.02em;
  --tracking-normal: 0;
  --tracking-wide: 0.12em;
  --tracking-wider: 0.18em;

  /* Gradient */
   --background-gradient: linear-gradient(
    180deg,
    rgba(20, 65, 89, 1) 12%,
    rgba(20, 65, 89, 0.9) 25vh,
    rgba(20, 65, 89, 0.7) 50vh,
    rgba(20, 65, 89, 0.4) 80vh,
    rgba(20, 65, 89, 0.3) 100%
  );
}